<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BusGeo</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8" />
    <link 
        rel="stylesheet" 
        href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />
</head>
<body style="font-family: Arial, sans-serif;">
    <!-- <h1 class="title" style="color: blue;">BusGeo</h1> -->
    <h1 class="title" style="color: blue; cursor: pointer;">BusGeo</h1>
    <div>
        <div id="counter-value">0 of 10 updates - 10 seconds interval</div>
        <br>
        <form class = "coordinates-form" id="coordinates-form" method="post" action="/map" style="margin-bottom: 1%;">
            <button type="submit">Update status</button>
            
            <input type="text" id="coordinates" name="coordinates">
        </form>
    </div>
    <div id="map" class = "map" style="width: 600px; height: 400px;"></div>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script>

            function updateMap() {
                fetch('/coordinates')
                    .then(response => response.json())
                    .then(data => {
                        // console.log('Coordinates:', data[0]);
                        if (data.length !== 0) {
                            // Clear existing markers
                            map.eachLayer(layer => {
                                if (layer instanceof L.Marker) {
                                    map.removeLayer(layer);
                                }
                            });

                            let counter = 1

                            for (const [id_bus, marker_values] of Object.entries(data[0])) {

                                    let path_image = '/static/bus'+counter.toString()+'.png'

                                    let customIcon = L.icon({
                                            iconUrl: path_image,
                                            iconSize: [42, 42]
                                    });

                                    for (const [key, value] of Object.entries(marker_values)) {
                                        marker = new L.marker(
                                            [value.coordatates[0], value.coordatates[1]], 
                                            { icon: customIcon }
                                        )
                                        .bindPopup(value.name)
                                        .addTo(map);
                                    }
                                    counter = counter + 1
                            }
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching coordinates:', error);
                    });
            }



            // // Initial call to updateMap when the page loads
            // updateMap();

            document.addEventListener('DOMContentLoaded', function() {
                document.querySelector('.title').addEventListener('click', function() {
                    window.location.href = '/';
                });
            });

            var coordinates_list = JSON.parse('{{ coordinates_list | safe }}');
            console.log("Parsed Coordinates List:", coordinates_list[0]);  // Debugging

            var map = L.map('map').setView([-34.9099, -56.1944], 13);

            mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
            L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; ' + mapLink + ' Contributors',
                maxZoom: 18,
            }).addTo(map);

            let list_coodinates = coordinates_list[0]
            let counter = 1

            for (const [id_bus, marker_values] of Object.entries(coordinates_list[0])) {
                    let path_image = '/static/bus'+counter.toString()+'.png'

                    let customIcon = L.icon({
                            iconUrl: path_image,
                            iconSize: [42, 42]
                    });

                    for (const [key, value] of Object.entries(marker_values)) {

                        marker = new L.marker(
                            [value.coordatates[0], value.coordatates[1]], 
                            { icon: customIcon }
                        )
                        .bindPopup(value.name)
                        .addTo(map);
                    }
                    counter = counter + 1
            }

            // Execute updateMap every 15 seconds, only 10 times
            // console.log(coordinates_list, "coordinates_listcoordinates_list")
            if(coordinates_list.length !== 0){
                let counter = 0;
                let intervalId = setInterval(function() {
                    updateMap();
                    counter++;
                    if (counter >= 10) {
                        clearInterval(intervalId); // Stop the interval after 10 iterations
                    }
                    if(counter === 11){
                        document.getElementById('counter-value').textContent = "Refresh search for real-time updates.";
                    }else{
                        document.getElementById('counter-value').textContent = counter + " of 10 updates - 10 seconds interval";
                    }
                    
                }, 15000);
            }

        </script>
</body>
</html>